[Desktop Entry]
Encoding=UTF-8
Name=Link to http://spiralgraphics.biz/packs/snow_ice/previews/Glacier.jpg
Type=Link
URL=http://spiralgraphics.biz/packs/snow_ice/previews/Glacier.jpg
Icon=image-jpeg
