[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.texturex.com/albums/Wood-Textures/wood%20texture%20red%20grain%20wooden%20panel%20design%20wallpaper.jpg
Type=Link
URL=http://www.texturex.com/albums/Wood-Textures/wood%20texture%20red%20grain%20wooden%20panel%20design%20wallpaper.jpg
Icon=image-jpeg
